.header-top {
    background-color: black;
}

.header-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    input {
        color: black;
        &:focus {
            outline: none;
        }
        border: none;
        border-radius: 0;
    }
    .search-icon {
        color: white;
        padding: 0 10px;
    }
}

.header-bottom {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        ul {
            display: flex;
            li {
                list-style: none;
                padding-right: 30px;
                color: gray;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 80%;
                    height: 3px;
                }
                &:hover {
                    color: black;
                    transition: ease-in-out 0.5s;
                    &::after {
                        background-color: black;
                        transition: ease-in-out 0.5s;
                    }
                }
            }
        }
    }
    .logo {
        img {
            width: 250px;
            height: auto;
            cursor: pointer;
        }
    }
    .left {
        display: flex;
        align-items: center;
        // ul {
        //     margin: 0;
        // }
    }
    .right {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        [nz-icon]:nth-child(1) {
            cursor: pointer;
            width: 40px;
            height: 40px;
            color: white;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-left: 20px;
        }
        [nz-icon]:nth-last-child(1) {
            width: 40px;
            height: 40px;
            color: white;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-left: 20px;
        }
    }
}